container_commands:
  01_node_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'curl -sL https://rpm.nodesource.com/setup_10.x | bash - && yum install -y nodejs'
  02_npm_build:
    command: 'cd assets/npm && npm ci && sudo npm install'
    leader_only: true