<form action="/api/file-upload"

      class="dropzone"
      id="document-dropzone">
    {% csrf_token %}
</form>
<div class="analyse_button text-center">
    <button type="button" id="submit-all" class="btn btn-primary btn-lg ">Submit</button>

</div>


<script>
    Dropzone.options.documentDropzone = {
        autoProcessQueue: false,
        uploadMultiple: true,
        acceptedFiles: '.txt',
        paramName: "document",
        parallelUploads: 20,
        addRemoveLinks: true,
        dictDefaultMessage: "Drop .txt files here that you'd like to have analysed",

        success: function (file, response) {
            if (response["error"]) {
                alert(response["error"])
                this.removeAllFiles();
            } else {
                window.location.href = response["url"];

            }

        },

        init: function () {
            var submitButton = document.querySelector("#submit-all")
            myDropzone = this; // closure

            submitButton.addEventListener("click", function () {
                myDropzone.processQueue(); // Tell Dropzone to process all queued files.
            });


            this.on("addedfile", function () {
                // Show submit button here and/or inform user to click it.
            });

        }
    };

</script>