{% extends 'base/base.html' %}
{% block content %}
    <div class="document_nav">
        <h3>Word occurrences by document:</h3>
        <a href="/report/{{ report_id }}" class="btn btn-primary btn-lg"
           role="button" aria-pressed="true">All
            Documents</a>
        {% for document in documents %}
            {% for file_name,document_id in document.items %}
                <a href="/report/{{ report_id }}/?document={{ document_id }}"
                   class="btn btn-primary btn-lg"
                   role="button" aria-pressed="true">{{ file_name }}</a>

            {% endfor %}


        {% endfor %}
    </div>

      <div class="document_nav">
        <h3>Sentences by document:</h3>
        <a href="/report/{{ report_id }}/{{ word }}" class="btn btn-primary btn-lg {% if not page_document_id %}active{% endif %}"
           role="button" aria-pressed="true">All
            Documents</a>
        {% for document in documents %}
            {% for file_name,document_id in document.items %}
                <a href="/report/{{ report_id }}/{{ word }}/?document={{ document_id }}"
                   class="btn btn-primary btn-lg {% if document_id == page_document_id %}
                active
                {% endif %}"
                   role="button" aria-pressed="true">{{ file_name }}</a>

            {% endfor %}


        {% endfor %}
    </div>
    <div style="text-align: center;">
        <h3>All sentences containing "{{ word }}" in {% if not page_file_name %}all documents{% else %}{{ page_file_name }}{% endif %}</h3>
    </div>
    <table id="sentences" class="display">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sentence</th>
            <th scope="col">File</th>
        </tr>
        </thead>
        <tbody>
        {% for file_name,sentences in sentences.items %}
            {% for sentence in sentences %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ sentence }}</td>
                    <td>{{ file_name }}</td>

                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <script>$(document).ready(function () {
        $('#sentences').DataTable({
            "pageLength": 20
        });
    });</script>


{% endblock %}